@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Home";
}

@section banner
{
<h1>Home</h1>
}
<blockquote>This is the home page for the <strong>Razor Basics</strong> project</blockquote>

@section footer
{
    <p>This is something that would appear in the footer page</p>    
}