@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "CRUD Page";
}

@section banner{
    <h1>Database: CRUD</h1>


}

<form id="theform" method="post">
    <div class="row">

    </div>

    <div class="row">
        <input type="submit" class="btn btn-primary" id="formButton" name="formButton"
               value="Submit" />
        <input type="submit" class="btn" id="formButton" name="formButton"
               value="Clear" />
    </div>
</form>


