@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Multi Record WebGrid";

    //retrieve the passed data value(s);
    //use the .QueryString structure of the Request 
    //syntax
    //Request.QueryString["passeddatalabel"]
    //if not label specified is on the url, the result will be null
    //data is pass as a string
    var cid = Request.QueryString["cid"];

    //test to see if you actually received a value
    if (string.IsNullOrEmpty(cid))
    {
        Response.Redirect("MultiRecordQuery.cshtml");
    }

    var db = Database.Open("NWDB");
    var querycommand = @"SELECT ProductID, ProductName, QuantityPerUnit, 
                         UnitPrice, Discontinued
                         FROM Products 
                         WHERE CategoryID = @0";
    var datainfo = db.Query(querycommand, cid);

    //WebGrid is an object
    //you need to create an inastance of the object
    //The "default" constructor for WebGrid needs to be given the data set
    var gridinstance = new WebGrid(datainfo);

}
@section banner{
    <h1>Database: Multiple Record WebGrid</h1>

    <blockquote>
        This is the second page of a two page query technique. This first page
        will load a dropdownlist from data provided by the database. The page
        will pass the selected value from the dropdownlist to the next page
        which will be responsible for displaying multiple record for the
        selected value. This page will use the WebGrid object to display the
         product category records. This page will use a customized WebGrid.
        On this page there will be no form.
    </blockquote>
}

<span style="font-size:xx-large"><strong>Database: WebGrid</strong></span>
<br/>
<div class="row">
    <div class="col-md-offset-1">
        <span style="font-size:x-large">Products for @cid</span>
        <!-- default webgrid-->
        @gridinstance.GetHtml();
    </div>
</div>


