@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "SingleQuery";

    var searchArg = Request.Form["SearchArg"];
    var theButton = Request.Form["theButton"];

    var regionid = "";
    var description = "";

    //Open a connection to the database
    //Use the connection string name attribute value

    var db = Database.Open("NWDB");

    //create an sql query command to retrieve the desired data
    //if the query command requires a parameter value, you will need to use a placeholder
    //placeholder syntax: @n where n is 0, 1, 2, 3...
    // you can have multiple placeholders
    // HARD CODED STRING CANNOT BE MULTIPLE LINES

    var queryCommand = "SELECT RegionID, RegionDescription "
                        + "FROM Region"
                        + "WHERE RegionID = @0";
    //Excecute your command
    //the result will be one of the following
    //a single record
    //a data set of 0, 1, or more records
    //a single value
    //youre expected results will determine how you execute your command
        //.querySingle()
        //.query()
        //.queryValue()
    //our search is by primary key therefire our expected results is a single record
    //the query single (command string[,comma delimiter list of parameter values])
    //order of parameter values must match the order of placeholders

    var datainfo = db.QuerySingle(queryCommand, searchArg);
}

@section banner{
    <h1>Database: Single Record Query</h1>
}

<form id="theForm" method="post">
    <div class="row">
        <div class="col-md-6">
            <label for="SearchArg" id="label1">Enter a region ID::</label>
            <input type="text" id="SearchArg" name="SearchArg" value="@searchArg"
                   placeholder="enter region ID:" />
            <br />
            <input type="submit" id="frombutton" name="formbutton"
                   class="btn" value="Submit" />&nbsp; &nbsp;
            <input type="submit" id="frombutton" name="formbutton"
                   class="btn" value="Clear" />
        </div>
        <div class="col-md-6">
            <label for="regionID" id="label2">region ID:</label>&nbsp;
            <input type="text" id="RegionID" name="RegionID" value="@regionid"
                   readonly="readonly"/>
            <br />
            <label for="Description" id="label3">Description</label>
            <input type="text" id="Description" name="Description" value="@description"
                   readonly="readonly"/ />

        </div>
    </div>
</form>
