@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Web Grid Destination";

    var pid = Request.QueryString["pid"];
    <p>You passed the value @pid  to this page</p>
}

@section banner{
    <h1>Database: Data from webgrid page</h1>


}

