@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Home";
}

@section banner{
    <h1>Home</h1>
}

<blockquote>This is the home page for the <strong>Forms And Razor</strong> project.</blockquote>

@section footer{
    <p>this is something that would appear in the footer block on the layout page</p>
    }